<h1>Welcome</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<% if logged_in? %>
  <div class="hidden display-buttons">
    <%= link_to "Teachers", teachers_path %> | <%= link_to "Students", students_path %>
  </div>
<% else %>
  <div class="form">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit "Sign In" %>
    <% end %>
    <p class="message">Not registered?
    <%= link_to "Create an account", new_teacher_path %></p>
  </div>
<% end %>

